@font-face {
    font-family: "PoppinsExtraBoldItalic";
    src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: "PoppinsRegular";
    src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "PoppinsExtraBold";
    src: url("./assets/fonts/Poppins-ExtraBold.ttf");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 94%);
    height: 100vh;
    position: relative;
    font-family: "PoppinsRegular", sans-serif;
}

.outer-cont {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    height: auto;
    border-bottom-right-radius: 25%;
    gap: 2rem;

}

hr {
    border: 1px solid hsl(0, 5%, 76%);
    width: 90%;
}

input {

    width: 85px;
    height: 35px;
    font-size: 20px;
    padding: 10px;
    font-family: "PoppinsExtraBold", sans-serif;
    border-radius: 4px;
    border: 1px solid hsl(0, 5%, 76%);
    caret-color: hsl(259, 100%, 65%);
    
}
 

input:focus {
    outline: none;
    border: 1px solid hsl(259, 100%, 65%);
    cursor: pointer;
}

.input-cont {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
    color: hsl(0, 1%, 44%);
}

.quest {
    font-family: "PoppinsRegular", sans-serif;
    display: flex;
    flex-direction: column;

    gap: 0.3rem;
}

.button-cont {
    position: absolute;
    left:62%;
    bottom:48%;
    border-radius: 60%;
    background-color: hsl(259, 100%, 65%);
    cursor: pointer;
}

.button-cont button {
    padding: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.button-cont:hover{
    background-color: black;
}

.button-cont img {
    width: 35px;
    height: 35px;
    padding: 10px;
}

.ans-cont h1 {
    font-size: 40px;
    font-family: "PoppinsExtraBoldItalic", sans-serif;
    line-height: 2.5rem;
}

.not-quest{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.not-quest label{
    color: red;
}

.not-quest input{
    border: 1px solid red;
}

.emptyError-msg{
    font-size: 12px;
    color: red;
}

@media (max-width: 375px) {
    .outer-cont {
        width: 300px;
        padding: 10px;
    }

    .button-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        left: 45%;
        top: 47%;
        border-radius: 60%;
        background-color: hsl(259, 100%, 65%);
    }

    input {
        width: 60px;
        height: 30px;
        font-size: 15px;
        padding: 6px;
        font-family: "PoppinsExtraBold", sans-serif;
    }

    .input-cont {
        justify-content: space-between;
        width: 100%;
        color: hsl(0, 1%, 44%);
        padding: 5px;
    }

    .button-cont button {
        padding: 2px;
    }

    .button-cont img {
        width: 20px;
        height: 25px;
        padding: 2px;
    }

    hr {
        width: 100%;
    }

    .quest label{
        font-size: 1;
    }

    .ans-cont h1 {
        font-size: 35px;
        font-family: "PoppinsExtraBoldItalic", sans-serif;
        line-height: 2.1rem;
    }

    .emptyError-msg{
        font-size: 8px;
        color: red;
    }
}
